# Tinkers Construct -- Access Transformer
# Required for Ant build system.
# Last update: Minecraft 1.6.4 - 2013 Sept 20
public net.minecraft.client.gui.GuiScreen buttonList
public net.minecraft.client.gui.inventory.GuiContainer guiLeft
public net.minecraft.client.gui.inventory.GuiContainer guiTop
public net.minecraft.client.renderer.ThreadDownloadImageData bufferedImage
public net.minecraft.client.renderer.ThreadDownloadImageData textureUploaded
public net.minecraft.entity.projectile.EntityArrow damage
public net.minecraft.entity.projectile.EntityArrow inData
public net.minecraft.entity.projectile.EntityArrow inGround
public net.minecraft.entity.projectile.EntityArrow inTile
public net.minecraft.entity.projectile.EntityArrow knockbackStrength
public net.minecraft.entity.projectile.EntityArrow ticksInAir
public net.minecraft.entity.projectile.EntityArrow ticksInGround
public net.minecraft.entity.projectile.EntityArrow xTile
public net.minecraft.entity.projectile.EntityArrow yTile
public net.minecraft.entity.projectile.EntityArrow zTile
